.clrHeadingCategories{
    background-color: #e49191;
}

.clrHeadingSubLevels{
    background-color: #d8f083;
}

.bgColorCategories{
    background-color: #c6f8f8;
}

.bgColorSubLevels{
    background-color: #e5cbfa;
}